{% load static %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pharmeasy | Assignment</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">


</head>

<body style="background-color: #f0f0f0">

<!-- navbar -->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pharmeasy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

      {% if user.is_authenticated %}

        <li><a href="/home">{{user.username}}</a></li>
        {% if role == '1' %}
            <li><a href="/share">Share</a></li>
            <li><a href="/upload">Upload</a></li>
        {% endif %}
        <li><a href="/logout">Logout</a></li>

      {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>


      {% endif %}

        
      </ul> 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<form style="display: none" id="file_upload_form" role="form" enctype="multipart/form-data" method="post">
  <input type="file" name="file_upload" id="file_upload" accept=".png, .jpg, .jpeg, .gif" required>
  <button name="submit">Upload</button>
</form>

<!-- Main Block -->

{% block content %}

{% endblock %}








<!-- footer -->

<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

</body>
</html>
